<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/" class="breadcrumb-item-link">Cars</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/" class="breadcrumb-item-link">List Car</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Add New Car</li>
  </ol>
</nav>
<% if(messageErr.length > 0) { %>
<div class="alert alert-danger shadow-sm mt-3" role="alert">
  <%= messageErr %>
</div>
<% } %>
<div class="row">
  <div class="col-md-10">
    <h1 class="content-title">Add New Car</h1>
  </div>
</div>
<div class="form-add mt-2 mb-5 me-3 p-3">
  <form class="mt-2" action="/add" method="POST" enctype="multipart/form-data">
    <div class="form-group row mb-3">
      <div class="col-md-2 p-0">
        <label for="nama" class="form-label">Nama</label>
      </div>
      <div class="col-md-10">
        <input
          type="text"
          class="form-control"
          id="nama"
          name="nama"
          placeholder="Avanza"
          value="<%= typeof nama !== 'undefined' ? nama : '' %>"
          required
        />
      </div>
    </div>
    <div class="form-group row mb-3">
      <div class="col-md-2 p-0">
        <label for="sewaharian" class="form-label">Sewa per hari</label>
      </div>
      <div class="col-md-10">
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          id="sewaharian"
          name="sewaharian"
          placeholder="Rp0,-"
          required
        />
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class="col-md-2 p-0">
        <label for="ukuran" class="form-label">Ukuran</label>
      </div>
      <div class="col-md-10">
        <select
          class="form-select"
          aria-label="Default select example"
          name="ukuran"
          required
        >
          <option selected>Pilih Ukuran</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
        </select>
      </div>
    </div>
    <div class="form-group row mb-3">
      <div class="col-md-2 p-0">
        <label for="exampleFormControlTextarea1" class="form-label">Foto</label>
      </div>
      <div class="col-md-10">
        <input
          class="form-control"
          type="file"
          name="foto"
          id="formFileMultiple"
          multiple
        />
        <p>*File size max 2MB</p>
      </div>
    </div>

    <div class="button-confirm mb-5">
      <a class="btn btn-cancel" href="/">Cancel</a>
      <button type="submit" class="btn btn-save">Save</button>
    </div>
  </form>
</div>
